
h1{
    position: relative;
    font-size: 50px;
    right: 210px;
    width: 1560px;
    height: 100px;
    bottom: 90px;
    text-align: center;
    color: rgb(4, 155, 4);
    box-shadow: 0px 10px 25px rgb(21, 22, 29);
    background-image: url("../Principal/Imagenes/titulo.png");
}
body{
    margin-top: 200px;
    margin-bottom: 800px;
    position: relative;
    left: 200px;
    bottom: 110px;
    background-image: url("../Principal/Imagenes/fon.png");
    background-color: rgba(0,0,0,0.8);
    height: 100px;
   
    
}

nav{
    position: relative;
    right: 250px;
    margin-right: 1000px;
    bottom: 97px;
    
}
footer{
   position: relative;
   right: 230px;
   text-align: center;
   background-image: url("../Principal/Imagenes/titulo.png");
   margin-right: -240px; ;
   color: aliceblue;

}footer>a{
    color: aliceblue;
}

/*-------------------------------------------------------------*/

nav > ul { 
    line-height: 45px; 
    padding-left: px;
    margin-top: 70px;
   }
nav>ul>li{
    position: relative;
    left: 20px;
    bottom: 20px;
    margin-right: -250px;
    margin-top: -10px;
}
  
   nav > ul > li > a   {
    color: rgb(226, 222, 222);
    text-decoration: none;
    font-size: 15px;
 
   }
section{
    position: relative;
    bottom: 650px; ;
    height: 1000px;
}
article{
    position: relative;
    width:800px;
    height: 950px;
    left: 200px;
    top: 250px;
}
aside{
    position: relative;
    width:300px;
    height:456px ;
    left: 850px;
    bottom: 985px;
}
body>section>article>img{
    position: relative;
    width:300px;
    left: 200px;
    height: 200px;
    box-shadow: 0px 10px 25px rgb(21, 22, 29);
    border-radius: 20px;
}
p, h2{
    font-size: 25px;
    color: azure;
}
   