*{
    margin: 0px;
}
header{
    width: 100%;
    text-align: center;
    padding: 1em;
}
body{
    background-color: rgba(49, 52, 80, 0.658);
    background-image: url("../Principal/Imagenes/fon.png");
}
nav>ul>a{
   padding-left: 50px; 
   text-decoration: none;
   color: lightgreen;
   font-size: 17px;
   
}
a:hover{
    color: rgb(255, 255, 255);
}
nav{
    margin-bottom:1em;
    background-color: rgba(104, 101, 101, 0.699);
}
.Initext{
    width: 45%;
    padding-left: 15px;
    padding-top: 50px;
    font-size: 25px;
    float: left; 
    text-align:justify ;
}
.Initext2{
    clear: both;
    width: 45%;
    text-align:justify ;
}

#primero,#segundo{
    width: 100%;
    display: block;
}
.Initext2{
    float: left;
    font-size: 20px;
    padding-left: 25px;
}
img{
    width: 45%;
    margin-left:70px;
    border-radius: 10px;
    box-shadow: 0px 10px 25px black;

}
#primero>aside{
    margin-top: 20px;
    margin-bottom: 50px;
}
.Initext>{
    width: 20%;
    margin-left: 100px;
}
.Initext>aside>img{
    margin-top: 20px;
    margin-bottom: 20px;
}
#contenido>p{
    position: relative;
    top: 55px;
    font-size: 20px;
    
}
#segundo>aside{
    margin-top: 50px;
    margin-left: -50px;
}

.fintext{
    clear: both;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 50px;
}
.fintext>img{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 350px;
}

#logo>img{
    width: 60%;
    height: 150px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.fintext>h4{
    font-size: 30px;
}
footer{
    background-image: url("../Principal/Imagenes/titulo.png");
    color: floralwhite;
    text-align: center;  
}
footer>a{
    color: floralwhite; 
}
#video{
    margin-left: 10px;
    margin-bottom: -80px;
}
#Imgtext{
    width: 45%;
    margin-left: 800px;
    position: relative;
    bottom: 250px;
}
.Audio>audio{
    margin-left: 250px;
    margin-top: 100px;
    margin-bottom: 128px;
}
#segundo>article>div>p{
   margin-top: 100px;
}
section>aside>img{
width: 300px;
margin-left: 150px;
margin-top: 40px;
}
.nudo>img{
   position: relative;
   right: 10px;
   bottom: 340px;
   width: 500px;
   
}
section>h3{
    position: relative;
    left: 100px;
    bottom: 250px;
    font-size: 30px;
}
.Initext{
    font-size: 20px;
    float: left;
}
.textnudo{
padding-left: 700px;
margin-left: 80px;
position: relative;
bottom: 250px;
width: 45%;
text-align: justify;
font-size: 20px;
    
}







